/* @font-face {
  font-family: "HelveticaNeue";
  src: url("./Fonts/HelveticaNeue.ttc") format("truetype-collection");
} */

.App {
  font-size: 50px;
  font-family: "Helvetica Neue";
  font-weight: 100;
  text-align: center;
  background-color: #fdfdfd;
}
